
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.msg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: rgb(233, 233, 233);
    font-weight: 200;
    font-size: large;
}

.msgrem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: large;
}

body {
    background-color: rgb(30, 0, 0); /*rgb(233, 233, 233); */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcontainer-inicial {
    width: 23%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: black;
    padding: 3rem;
}

.container-inicial {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 0px 7px 26px 10px rgba(255, 17, 0, 0.986);
}

.container {
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 0px 7px 26px 10px rgba(255, 17, 0, 0.986);
    flex-direction: column;
}


.lateral-menu-conteiner {
    width: 20%;
    height: 100%;
    display: flex;
    background-color: aliceblue;
    box-shadow: 0px 7px 26px 10px rgba(255, 17, 0, 0.986);
    flex-direction: column;

	/* -moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease; */
	transition: all 0.3s ease;

	overflow:hidden;
	position:fixed;
	top:0;
	left:-15%;
}


.lateral-menu-conteiner:hover, .lateral-menu-conteiner:focus,  .lateral-menu-conteiner:active  {
	/* -moz-transform: translate(75%, 0);
    -webkit-transform: translate(75%, 0);
	-o-transform: translate(75%, 0); */
	transform: translate(75%, 0);
}	


.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: whitesmoke; */
}

.form-image img{
    min-inline-size: 725px;
}

.form-login {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    background-color: black;
    padding: 3rem;
}

.form-cad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding: 3rem;
}

.form-header {
    color:rgb(233, 233, 233);
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.page-header {
    margin-left: 5%;
    color:rgb(233, 233, 233);
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
}

.page-content {
    margin-left: 5%;
    color:rgb(233, 233, 233);
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


.page-tab {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    padding: 3rem;
}

.page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 3rem;
}

.page-detail {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: unset;
    flex-direction: unset;
    background-color: rgb(0, 0, 0);
    padding: 3rem;
}

.table {
	width:100%;
	box-shadow: 0px 0px 6px 2px rgb(182, 182, 182);
    font-weight: 600;
    font-size: medium;
}



.table-header {
	display:flex;
    align-content: center;
	width:100%;
	background:rgb(255, 255, 255);
    /* box-shadow: 0px 0px 6px 2px rgb(182, 182, 182); */
    margin-bottom: 1vh;
}

.table-row {
	display:flex;
	width:100%;
    font-weight: 500;
}

.table-data, .header__item {
	flex: 1 1 20%; /*1 1 flex-basis(tamanho)*/
	text-align:center;
}

.table-data-button {
	flex: 1 1 20%;
	text-align:center;
    display: flex;
}

.header__item {
	text-transform:uppercase;
}


.lateral-menu-button {
    width: max-content;
    display: flex;
    align-items: center;
    align-self: center;
    flex: 0 0 10%;
}

.tab-button {
    width: max-content;
    display: flex;
}

.lateral-menu-button a {
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 0.4rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: rgb(14, 14, 14);
    font-size: medium;
    width: 200px;
}

.tab-button a {
    flex: 0 0 10%;
    border: none;
    /* padding: 0.4rem 1rem; */
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: rgb(14, 14, 14);
    font-size: medium;
    width: 100px;
}

.lateral-menu-button a:hover {
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 6px 2px rgb(255, 223, 223);
}




.login-button {
    display: flex;
    align-items: center;
}

.cad-button {
    display: flex;
    align-items: center;
    align-self: baseline;
}

.login-button button {
    border: none;
    background-color: rgb(233, 233, 233);
    padding: 0.4rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: rgb(14, 14, 14);
    font-size: medium;
}

.login-button button:hover {
    background-color: rgb(255, 255, 255);
}

.cad-button a {
    border: none;
    background-color: rgb(233, 233, 233);
    padding: 0.4rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: rgb(14, 14, 14);
    font-size: medium;
}

.cad-button a:hover {
    background-color: rgb(255, 255, 255);
}

.form-header h1::after {
    content: '';
    display: block;
    width: 17rem;
    height: 0.1rem;
    background-color: rgb(233, 233, 233);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box-img {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box label {
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: medium;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1px;
    box-shadow: 0px 7px 26px 2px rgba(255, 17, 0, 0.986);
}


.input-box input:hover{
    box-shadow: 0px 7px 26px 10px rgba(255, 17, 0, 0.986);
}

.input-box input:focus {
    box-shadow: 0px 7px 26px 10px rgba(255, 17, 0, 0.986);
    outline: 1px solid rgb(255, 255, 255);
}
